/* Fix the box model sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-highlight;
  &:hover {
    color: lighten($color-highlight, 10%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: $color-secondary;
}

.wprecipes__main {
  // flexbox owl carousel fix
  min-width: 0;
  h1 {
    text-align: center;
  }
}

// TODO add utilities partial
.svg-hack {
  width: 50%;
  position: relative; /* create positioning context for svg */
}

