
.wprecipes {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 32px);
  margin: auto;
  max-width: $site-maxwidth;

  &--flex-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__site {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;

    @include tablet {
      flex-flow: row nowrap;
    }
    @include desktop {
      flex-flow: row nowrap;
    }
  }

  &__page-title {
    font-size: 2rem;
  }

  &__main {
    width: 100%;
    flex: 1 1 100%;
    background: darken($color-lightest, 5%);
    padding: .5rem 1rem;

    @include tablet {
      width: 75%;
      flex: 1 1 75%;
    }
    @include desktop {
      width: 75%;
      flex: 1 1 75%;
    }

    &__post {
      display: flex;
      flex-direction: column;

    }
  }

  &__sidebar {
    width: 100%;
    flex: 1 1 100%;
    padding: .5rem 1rem;
    background: darken($color-lightest, 10%);

    @include tablet {
      width: 25%;
      flex: 1 1 25%;
    }
    @include desktop {
      width: 25%;
      flex: 1 1 25%;
    }
  }

  &__footer {
    background: darken($color-lightest, 10%);
  }

}