.wprecipes {

  /**
   * Header Beet Logo
   */
  &__logo {
    &__svg {
      fill: $color-background;
      stroke: $color-dark;
      stroke-width: 10px;
      stroke-linecap: round;
      width: 68px;
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background: $color-dark;
    display: flex;
    flex-flow: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;

    @include tablet {
      max-height: 300px;
      flex-flow: row nowrap;
    }
    @include desktop {
      max-height: 300px;
      flex-flow: row nowrap;
    }

    &--open {
      max-height: 300px;
      transition: max-height .3s ease-in-out;
    }

    &__item {
      flex: 1 1 auto;
      display: flex;
      
      &.current-menu-item {
        a {
          background: lighten($color-dark, 10%);
        }
      }

      &__link {
        display: block;
        width: 100%;
        text-align: center;
        background: lighten($color-dark, 5%);
        padding: 1rem;
        color: darken($color-lightest, 5%);
        &:hover {
          background: lighten($color-dark, 10%);
          color: $color-lightest;
        }
        // link :hover
      }
      // link
    }
    // item
  }
  // nav
}

// wprecipes
