.wprecipes {
  &__recipe {
    padding: 1rem;
    margin: 1rem 0;
    border: 2px dashed $color-background;
    &__items {
      padding: 0;
      list-style: none;
      &__item {
        padding: 1rem;
        border-bottom: 1px solid lighten($color-background, 10%);
      }
    }
  }
}